{
  "janus": {
    "serverUri": "https://galaxy-dev.kbb1.com:8889/janus",
    "stunUri": "stun://v4g.kbb1.com:3478",
    "secret": "adminpwd",
    "roomId": 3,
    "sdiPorts": {
      "large1": {
        "forwardIp": "51.254.244.44",
        "video": {
          "program": 10001,
          "streamId": 11
        }
      },
      "large2": {
        "forwardIp": "51.254.244.44",
        "video": {
          "program": 10002,
          "streamId": 12
        }
      },
      "small1": {
        "forwardIp": "127.0.0.1",
        "streamIds": {
          "program": 33,
          "preview": 31
        },
        "video": {
          "program": [20001, 20002, 20003, 20004],
          "preview": [40001, 40002, 40003, 40004]
        }
      },
      "small2": {
        "forwardIp": "127.0.0.1",
        "streamIds": {
          "program": 34,
          "preview": 32
        },
        "video": {
          "program": [30001, 30002, 30003, 30004],
          "preview": [50001, 50002, 50005, 50004]
        }
      },
      "control": {
        "forwardIp": "51.254.244.44",
        "video": {
          "program": 10005,
          "streamId": 17
        },
        "audio": 50005
      }
    },
    "reconnectTimeout": 10,
    "titleApiUrl": "https://v4g.kbb1.com:8080/title.php?title=%title%&port=%port%"
  },
  "backendUri": "https://rt-dev.kbb1.com:5000/galaxy2/backend",
  "environment": "development",
  "rollbarToken": "rollbar-access-token-comes-here",
  "codeVersion": "git-sha1-deployed-should-be-here",
  "chatUri": "https://chat1.kbb1.com/?label=galaxy2"
}
