<h1 class="md-display-1">Player</h1>

<md-input-container>
  <label>Bitrate</label>
  <md-select ng-model="player.bitrate">
    <md-option ng-repeat="bitrate in plater.bitrates" value="{{bitrate.value}}" ng-disabled="$index === 1">
      {{bitrate.label}}
    </md-option>
  </md-select>
</md-input-container>

<md-input-container>
  <label>Language</label>
  <md-select ng-model="player.bitrate">
    <md-option ng-repeat="bitrate in plater.bitrates" value="{{bitrate.value}}" ng-disabled="$index === 1">
      {{bitrate.label}}
    </md-option>
  </md-select>
</md-input-container>
