<md-list class="users">

  <!-- Online users -->
  <md-list-item ng-repeat="userSet in vm.userSets" ng-class-even="md-primary" flex="100">
      <span width="50%" ng-repeat="user in userSet">
        <md-icon layout="column" ng-style="{color: '#4CAF50'}" class="material-icons">lens</md-icon>
        <p ng-bind="user.title"></p>
      </span>
    </md-grid-list>

  </md-list-item>

  <md-divider></md-divider>

  <!-- Offline users -->
  <md-list-item ng-repeat="user in vm.users | filter : {joined: '!'} | orderBy : 'title'">
    <md-icon layout="column" aria-label="" ng-style="{color: '#9E9E9E'}" class="material-icons">lens</md-icon>

    <div class="md-list-item-text" layout="column" flex>
      <p ng-bind="user.title"></p>
    </div>

  </md-list-item>

</md-list>
