<md-list class="users">

  <!-- Online users -->
  <md-list-item ng-click="vm.putUserSetToPreview($index)" ng-repeat="userSet in vm.userSets">
    <div layout="row" layout-wrap flex="100">
      <div layout="column md-caption" flex="50" ng-repeat="user in userSet">
        <md-icon layout="column" ng-style="{color: '#4CAF50', fontSize: 12, marginRight: '8px'}" class="material-icons">lens</md-icon>
        <div layout="column"
          ng-bind="user.title"
          class="{{$parent.$index === vm.userSetIndex.program ? 'program' : ($parent.$index === vm.userSetIndex.preview ? 'preview' : '')}}"
          flex></div>
      </div>
    </div>
    <md-divider></md-divider>
  </md-list-item>

  <!-- Offline users -->
  <md-list-item ng-repeat="user in vm.users | filter : {joined: '!'} | orderBy : 'title'">
    <md-icon layout="column" aria-label="" ng-style="{color: '#9E9E9E'}" class="material-icons">lens</md-icon>

    <div class="md-list-item-text" layout="column" flex>
      <p ng-bind="user.title"></p>
    </div>

  </md-list-item>

</md-list>
