<md-list class="users">

  <!-- TODO: move styles to channel.scss -->

  <!-- Online users -->
  <md-list-item ng-click="vm.isReadyToSwitch() && vm.putCompositeToPreview($index)"
    ng-repeat="composite in vm.composites"
    ng-class-odd="'oddComposite'"
    ng-class="$index === vm.compositeIndex.program ? 'program' : ($index === vm.compositeIndex.preview ? 'preview' : '')"
    class="composite"
    aria-label="Preview composite">

    <div layout="row" layout-wrap flex="100" class="userItem">
      <div layout="column md-caption" flex="50" ng-repeat="user in composite" class="compositeItem">
        <md-icon layout="column" ng-style="{color: '#4CAF50', fontSize: 12, marginRight: '8px'}" class="material-icons">lens</md-icon>

        <div ng-bind="user.title"
          ng-style="{fontSize: 14}"
          ng-class="user.completesComposite ? 'completesComposite' : ''"
          data-context-menu="app/components/channel/user-context-menu/user-context-menu.html"
          ng-controller="UserContextMenuController as contextMenu"
          layout="column"
          layout-align="center start"
          flex></div>
     <md-icon 
      layout="column" 
      aria-label="" 
      ng-style="{'color': (user.connectionStatus == '3') ? 'red' : (user.connectionStatus == '2') ? 'orange': 'green'}" 
      class="material-icons userConnectStatus">signal_wifi_4_bar</md-icon>


      </div>
    </div>

  </md-list-item>

  <md-divider></md-divider>

  <!-- Offline users -->
  <md-list-item ng-repeat="user in vm.users | filter : {joined: '!'} | orderBy : 'title'" class="userItem">
    <md-icon layout="column" aria-label="" ng-style="{color: '#9E9E9E'}" class="material-icons">lens</md-icon>

    <div class="md-list-item-text" layout="column" flex>
      <p ng-bind="user.title"></p>
    </div>

  </md-list-item>

</md-list>
