<md-card class="o-context-menu" ng-show="!user.completesComposite">
  <!-- TODO: Rename vm to channel -->

  <md-list ng-cloak>
    <md-list-item ng-click="vm.disableUser(user); $event.stopPropagation()">
      <md-icon class="material-icons">visibility_off</md-icon>
      <p>Disable {{user.title}} temporarily</p>
    </md-list-item>
    <md-menu-divider></md-menu-divider>
    <md-list-item ng-click="contextMenu.reloadUser(user); $event.stopPropagation()">
      <md-icon class="material-icons">cached</md-icon>
      <p>Reload {{user.title}}</p>
    </md-list-item>
    <md-list-item ng-click="contextMenu.reloadChannelUsers(vm.name); $event.stopPropagation()">
      <md-icon class="material-icons">cached</md-icon>
      <p>Reload channel users</p>
    </md-list-item>
  </md-list>
</md-card>
