<md-dialog aria-label="Sign in dialog">
  <md-dialog-content>
    <form ng-submit="vm.submit()" method="POST" role="form">
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h2>Sign In</h2>
          <span flex></span>
        </div>
      </md-toolbar>

      <md-dialog-content>
        <div class="md-dialog-content">
          <md-input-container class="md-block">
            <label>Login</label>
            <input type="text" name="login" ng-model="vm.login" required />
          </md-input-container>
          <md-input-container class="md-block">
            <label>Password</label>
            <input type="password" name="password" ng-model="vm.password" required="required" />
          </md-input-container>
        </div>
      </md-dialog-content>

      <md-dialog-actions layout="row">
        <span flex></span>
        <md-button class="md-raised md-primary">Submit</md-button>
      </md-dialog-actions>
    </form>
  </md-dialog-content>
</md-dialog>
