<md-list>

  <!-- Online users -->
  <md-list-item ng-repeat="user in users | filter : {joined: ''} | orderBy : 'joined'">
    <md-icon layout="column" aria-label="" ng-style="{color: '#4CAF50'}" class="material-icons">lens</md-icon>
    <div class="md-list-item-text" layout="column" flex="100">
      <p class="{{user === programUser ? 'program' :
        (user === previewUser ? 'preview' : '')}}">
        {{ user.title }}
      </p>
    </div>
  </md-list-item>

  <md-divider></md-divider>

  <!-- Offline users -->
  <md-list-item ng-repeat="user in users | filter : {joined: '!'} | orderBy : 'title'">
    <md-icon layout="column" aria-label="" ng-style="{color: '#9E9E9E'}" class="material-icons">lens</md-icon>
    <div class="md-list-item-text" layout="column" flex="100">
      <p>{{ user.title }}</p>
    </div>
  </md-list-item>

</md-list>
