.slotDir {
    .labelsFours {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        min-height: 100%;
        label {
            box-sizing: border-box;
            padding: 5px 5px 0px 0px;
            display: inline-block;
            width: 50%;
            height: 50%;
            vertical-align: top;
            text-align: right;
            user-select: none;
            span {
                padding: 3px 6px;
                color: #FFF;
                background-color: blue;
            }
        }
    }
}
