<md-toolbar layout="row" layout-align="center center">

  <md-button href="/">
    <!-- <md&#45;icon md&#45;svg&#45;src="/assets/images/galaxy&#45;logo.svg" aria&#45;label="Galaxy 2 Logo"></md&#45;icon> -->
    Galaxy 2
  </md-button>

  <section flex layout="row" layout-align="left center">
    <md-button href ui-sref="shidur" class="md-raised">Shidur</md-button>
    <md-button href ui-sref="user" class="md-raised">User</md-button>
    <md-button href="/backend/admin" class="md-raised">Admin</md-button>
    <md-divider vertical></md-divider>
    <md-button href ui-sref="fake" class="md-raised">Fake</md-button>
  </section>

  <md-menu class="galaxy-navbar-text">
    <md-button ng-click="ctrl.openMenu($mdOpenMenu, $event)">
      User Name
    </md-button>
    <md-menu-content width="4">
      <md-menu-item>
        <md-button ng-click="ctrl.logout($event)">
          <md-icon md-svg-icon="zmdi:zmdi-power-setting" md-menu-align-target></md-icon>
          Logout
        </md-button>
      </md-menu-item>
    </md-menu-content>
  </md-menu>

</md-toolbar>
