<div layout="row" layout-fill ng-if="shidur.breakdown">
  <div flex="25">
    <large-channel-widget name="large1" users="shidur.breakdown.large1" hotkey="1" ng-model="test"></large-channel-widget>
  </div>
  <div flex="25">
    <large-channel-widget name="large2" users="shidur.breakdown.large2" hotkey="2"></large-channel-widget>
  </div>
  <div flex="25">
    <small-channel-widget name="small1" users="shidur.breakdown.small1" hotkey="3"></small-channel-widget>
  </div>
  <!-- <div flex="20"> -->
  <!--   <small&#45;channel&#45;widget name="small2" users="shidur.breakdown.small2" hotkey="4"></small&#45;channel&#45;widget> -->
  <!-- </div> -->
  <div flex="25">
    <control-channel-widget name="control" users="[]" users-breakdown="shidur.breakdown" hotkey="5"></control-channel-widget>
  </div>
</div>
