<section class="channel md-whiteframe-z1">
  <channel-program-widget
    user="vm.programUser">
  </channel-program-widget>

  <channel-preview-widget
    user="vm.previewUser"
    toggle-audio="vm.toggleAudio">
  </channel-preview-widget>

  <md-autocomplete
    md-no-cache="true"
    md-selected-item="vm.selectedUser"
    md-search-text="vm.searchText"
    md-selected-item-change="vm.pickUser(user)"
    md-items="user in vm.querySearch(vm.searchText) | orderBy : ['joined', 'title']"
    md-item-text="user.title"
    md-min-length="0"
    placeholder="Pick a user"
    md-menu-class="autocomplete-custom-template">
    <md-item-template>
      <span layout="row">
        <md-icon
          flex="20"
          aria-label="{{ user.title }}"
          ng-style="user.joined ? {color: '#4CAF50'} : {color: '#9E9E9E'}"
          class="material-icons">
          lens
        </md-icon>
        <span flex="80">{{ user.title }}</span>
      </span>
    </md-item-template>
  </md-autocomplete>

  <channel-users-widget
    users="vm.users"
    program-user="vm.programUser"
    preview-user="vm.previewUser">
  </channel-users-widget>

</section>

