<md-card md-theme-watch layout-padding>
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline" ng-bind="dialog.user.title"></span>
    </md-card-title-text>
  </md-card-title>

  <md-card-content>
    <md-list flex>
      <md-list-item class="md-3-line" ng-repeat="message in dialog.messages" ng-click="dialog.quote(message)">
        <div class="md-list-item-text" layout="column">
          <h3>{{ message.user.title }}</h3>
          <h4>{{ message.text }}</h4>
        </div>
      </md-list-item>
    </md-list>
  </md-card-content>

  <md-card-actions layout="row" layout-align="start start">
    <md-input-container flex>
      <textarea ng-model="dialog.messageText" rows="2"></textarea>
    </md-input-container>
    <md-button ng-click="" class="md-primary md-raised" title="Send message (Ctrl+Enter)">Send</md-button>
  </md-card-actions>
</md-card>
