<md-grid-list
  md-cols="1"
  md-row-height="16:9"
  md-gutter="16px">
  <md-grid-tile
    ng-style="{
    'background': 'red'
    }"
    md-colspan="1"
    md-rowspan="1">

    <video class="program" style="width: 100%" autoplay></video>
  </md-grid-tile>
  <md-grid-tile
    ng-style="{
    'background': 'green'
    }"
    md-colspan="1"
    md-rowspan="1">

    <video class="preview" style="width: 100%" autoplay></video>
  </md-grid-tile>
</md-grid-list>

<md-list>
  <md-list-item ng-repeat="user in vm.users">
    <div class="md-list-item-text" layout="column">
      {{ user.title }}
    </div>
  </md-list-item>
</md-list>
