<script type="text/ng-template" id="#removeUserTemplate">
  <md-button
    ng-if="vm.allowRemoveUsers"
    ng-click="vm.removeUser(user); $event.stopPropagation()"
    title="Remove user"
    layout="column"
    aria-label="Remove user"
    class="md-icon-button launch">

    <md-icon
      ng-style="{color: '#9E9E9E'}"
      class="material-icons">clear</md-icon>

  </md-button>
</script>

<md-list class="users" ui-on-drop="vm.onUserDrop(vm.name, $data, vm.users)">

  <!-- Online users -->
  <md-list-item
      data-context-menu="app/components/channel/user-context-menu/user-context-menu.html"
      ng-controller="UserContextMenuController as contextMenu"
      ng-click="vm.putUserToPreview(user)"
      ng-repeat="user in vm.users | filter : {joined: '', disabled: false} | orderBy : 'joined' track by user.id"
      class="userItem">

    <md-icon layout="column" aria-label="" ng-style="{color: '#4CAF50'}" class="material-icons ">lens</md-icon>

    <div

      dragula="'users'"
      class="md-list-item-text" layout="column" flex>
      <p ng-bind="user.title"
        class="{{user === vm.programUser ? 'program' : (user === vm.previewUser ? 'preview' : '')}}">
      </p>
    </div>

    <ng-include src="'#removeUserTemplate'"></ng-include>

    <md-icon class="material-icons drag"
      ui-draggable="true"
      drag="user"
      on-drop-success="vm.onUserDropSuccess(user.login, vm.users)">
      reorder
    </md-icon>

  </md-list-item>

  <md-divider></md-divider>

  <!-- Offline users -->
  <md-list-item ng-repeat="user in vm.users | filter : {joined: '!', disabled: '!'} | orderBy : 'title' track by user.id"
      class="userItem">

    <md-icon layout="column" aria-label="" ng-style="{color: '#9E9E9E'}" class="material-icons">lens</md-icon>

    <div class="md-list-item-text" layout="column" flex>
      <p ng-bind="user.title"></p>
    </div>

    <ng-include src="'#removeUserTemplate'"></ng-include>
  </md-list-item>

</md-list>
