<script type="text/ng-template" id="#removeUserTemplate">
  <md-button
    ng-if="vm.allowRemoveUsers"
    ng-click="vm.removeUser(user); $event.stopPropagation()"
    title="Remove user"
    layout="column"
    aria-label="Remove user"
    class="md-icon-button launch">

    <md-icon
      ng-style="{color: '#9E9E9E'}"
      class="material-icons">clear</md-icon>

  </md-button>
</script>
<md-list class="users userList"  layout="column">
  <!-- Online users -->
  <md-list-item 
    ng-click="vm.putUserToPreview(user)" 
    ng-repeat="user in vm.users | filter : {joined: '', disabled: false} | orderBy : 'joined'"
    class="userItem">
    <md-icon layout="column" aria-label="" ng-style="{color: '#4CAF50'}" class="material-icons">lens</md-icon>
    <div class="md-list-item-text" layout="column" flex>
      <p ng-bind="user.title"
        class="{{user === vm.programUser ? 'program' : (user === vm.previewUser ? 'preview' : '')}}">
      </p>
    </div>

    <md-button
      ng-click="vm.disableUser(user); $event.stopPropagation()"
      title="Temporarily disable user"
      layout="column"
      aria-label="Disable user"
      class="md-icon-button block">

      <md-icon
        ng-style="{color: '#9E9E9E'}"
        class="material-icons">block</md-icon>

    </md-button>

    <ng-include src="'#removeUserTemplate'"></ng-include>
  </md-list-item>

  <md-divider></md-divider>

  <!-- Offline users -->
  <md-list-item ng-repeat="user in vm.users | filter : {joined: '!', disabled: '!'} | orderBy : 'title'" class="userItem">
    <md-icon layout="column" aria-label="" ng-style="{color: '#9E9E9E'}" class="material-icons">lens</md-icon>

    <div class="md-list-item-text" layout="column" flex>
      <p ng-bind="user.title"></p>
    </div>

    <ng-include src="'#removeUserTemplate'"></ng-include>
  </md-list-item>

</md-list>
