video {
  background: transparent url('data:image/gif,AAAA') 50% 50% / cover;
  width: 100%;
}

.channel {
  margin-right: 4px;
}

.channel .oddComposite {
  background: #E0E0E0 !important;
}

.channel h3 {
  text-transform: uppercase;
}

.channel .users {

    max-height: 250px;
    overflow: auto;
  
    md-list-item{
      &, &:hover {        
        line-height: 0;
        padding: 5px 0;
        min-height: 20px;
      }
      md-list-item-text, md-list-item-text:hover {
        line-height: 20px;
      }
  
      & > md-icon:first-child{
        margin: 0 10px 0 0;
      }
    }


  .program {
    &, & div{
      color: #E53935;
      font-weight: bold;      
    }
  }
  .preview {
    &, & div{
      color: #43A047;
      font-weight: bold;
    }
  }
  .completesComposite {
    color: #1E88E5 !important;
    font-weight: bold;
  }
}


md-grid-tile-header {
  padding-top: 12px;
}

md-grid-tile-header, md-grid-tile-footer {
  background: none !important;
}

md-grid-tile-header h3, md-grid-tile-footer h3 {
  position: absolute;
  left: 0px;
  user-select: none;
  font-weight: 500 !important;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

md-grid-tile-footer md-icon {
  cursor: default;
  outline: none;
  user-select: none;
  text-shadow:
    -1px -1px 0 #333,
    1px -1px 0 #333,
    -1px 1px 0 #333,
    1px 1px 0 #333;
}

md-grid-tile-header label, md-grid-tile-footer label {
  user-select: none;
  background-color: blue;
  padding: 3px 6px 3px 6px;
  margin-right: 6px;
}

