<md-grid-list
  md-cols-gt-md="1"
  md-row-height-gt-md="16:9"
  md-gutter-gt-md="16px" md-gutter-gt-sm="8px" md-gutter="4px">
  <md-grid-tile
    ng-style="{
    'background': 'red'
    }"
    md-colspan-gt-sm="1"
    md-rowspan-gt-sm="1">

    <video class="program" style="width: 100%" autoplay></video>
  </md-grid-tile>
  <md-grid-tile
    ng-style="{
    'background': 'green'
    }"
    md-colspan-gt-sm="1"
    md-rowspan-gt-sm="1">

    <video class="preview" style="width: 100%" autoplay></video>
  </md-grid-tile>
</md-grid-list>

<md-list>
  <md-list-item ng-repeat="user in vm.users">
    <div class="md-list-item-text" layout="column">
      {{ user.title }}
    </div>
  </md-list-item>
</md-list>
