video {
  background: transparent url('data:image/gif,AAAA') 50% 50% / cover;
  width: 100%;
}

.gray {
  background: #ddd !important;
}

.channel {
  margin-right: 4px;
}

.channel h3 {
  text-transform: uppercase;
}

.channel .users .program {
  color: #E53935;
  font-weight: bold;
}

.channel .users .preview {
  color: #43A047;
  font-weight: bold;
}

md-grid-tile-header {
  padding-top: 12px;
}

md-grid-tile-header, md-grid-tile-footer {
  background: none !important;
}

md-grid-tile-header h3, md-grid-tile-footer h3 {
  position: absolute;
  left: 0px;
  user-select: none;
  font-weight: 500 !important;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

md-grid-tile-footer md-icon {
  cursor: default;
  outline: none;
  user-select: none;
  text-shadow:
    -1px -1px 0 #333,
    1px -1px 0 #333,
    -1px 1px 0 #333,
    1px 1px 0 #333;
}

md-grid-tile-header label, md-grid-tile-footer label {
  user-select: none;
  background-color: blue;
  padding: 3px 6px 3px 6px;
  margin-right: 6px;
}
