<md-list class="users">

  <!-- Online users -->
  <md-list-item
    data-context-menu="app/components/channel/user-context-menu/user-context-menu.html"
    ng-controller="UserContextMenuController as contextMenu"
    ng-click="vm.putUserToPreview(user)"
    ng-repeat="user in vm.users | filter : {joined: '', disabled: false} | orderBy : 'joined' track by user.id"
    class="userItem">
    <md-icon layout="column" aria-label="" ng-style="{color: '#4CAF50'}" class="material-icons ">lens</md-icon>

    <div class="md-list-item-text" layout="column" flex>
      <p ng-bind="user.title"
        class="{{user === vm.programUser ? 'program' : (user === vm.previewUser ? 'preview' : '')}}">
      </p>
    </div>
    <md-icon
      layout="column"
      aria-label=""
      ng-class="(user.connectionStatus == 3) ? 'danger' : (user.connectionStatus == 2) ? 'warning': 'normal'"
      class="material-icons userConnectStatus">perm_scan_wifi</md-icon>

    <ng-include src="'app/components/channel/channel.removeUser.html'"></ng-include>

    <md-icon class="material-icons drag"
      ui-draggable="true"
      drag="{user: user, channelFromId: vm.name}">
      reorder
    </md-icon>

  </md-list-item>

  <md-divider></md-divider>

  <!-- Offline users -->
  <md-list-item ng-repeat="user in vm.users | filter : {joined: '!', disabled: '!'} | orderBy : 'title' track by user.id"
    class="userItem">
    <md-icon layout="column" aria-label="" ng-style="{color: '#9E9E9E'}" class="material-icons">lens</md-icon>

    <div class="md-list-item-text" layout="column" flex>
      <p ng-bind="user.title"></p>
    </div>

    <ng-include src="'app/components/channel/channel.removeUser.html'"></ng-include>
  </md-list-item>

</md-list>
